p{
    text-align: center;
}
#one{
    font-size: 16px;
    line-height: 20px;
}
#two{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
h1{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
#outer{
    font-size: 25px; 
}
#inner{
    font-size: 10px;
}
